*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: hsl(215, 54%, 11%); 
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    max-width: 500px;
    background-color: transparent/*hsl(216, 50%, 16%)*/;
    color: #428BE5/*hsl(215, 51%, 70%)*/;
    padding: 20px;
    border: 2px solid hsla(178, 100%, 50%, 0.1);
    box-shadow: 
        20px 20px 0px 5px rgba(0, 255, 247, 0.1),
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.04),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.049),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.052),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.053),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.056),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}
.result {
    padding: 0 10px;
}
.history {
    margin: 0 5px;
    padding-top: 20px;
    text-align: right;
    font-size: 1.5rem;
}
.history__value {
    color: white;
    font-size: 1rem;
}
.output{
    margin: 10px 0;
    text-align: right;
}
.output__value{
    font-size: 5rem;
}
.dv{
    width: 90%;
    margin: 20px auto;
    border: 1px solid hsl(216, 50%, 16%);
}
.keyboard {
    font-size: 1.8rem;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.operator, .number, .empty {
    margin: 7px 10px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.operator {
    background-color: hsl(214, 51%, 10%);
    transition: 0.2s linear;
}
.operator:hover {
    background-color: hsl(178, 100%, 50%);
    box-shadow: 0 0 20px 0 hsla(178, 100%, 50%, 0.5);
}
.operator:last-child {
    background-color: hsl(178, 100%, 50%);
    transition: 0.2s linear;
    color: white;
}
.operator--active {
    background-color: hsl(178, 100%, 50%);
    box-shadow: 0 0 20px 0 hsla(178, 100%, 50%, 0.5);
}
.zero {
    grid-column: 1 / 4;
    margin: auto;
    width: 100%;
}
@media screen and (max-width: 445px) {
    .calculator{
        width: 100vw;
        height: 100vh;
        padding: 10px;
        border: 0;
        margin-top: 30px;
        box-shadow: none;
    }
    .result {
        margin-right: 20px;
    }
    .output__value {
        font-size: 5.5rem;
    }
    .dv{
        width: 100%;
    }
    .keyboard {
        font-size: 2rem;
    }
}
@media  screen and (max-width: 340px) {
    .result {
        margin-right: 15px;
    }
}
